@charset "UTF-8";

/*
    Paleta de cores
    verde: #49a09d
    lilas: #5f2c82

*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
}

main{
    background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    min-height: 100%;

    display: flex;
}

#login{
    background-color: white;
    margin: auto;
    width: 70%;
    border-radius: 20px;

    justify-content: center;
}

#formulario{
 padding: 10px 20px 10px 20px;
}

#imagem{
    background-image: url(../imagens/pexels-caiospil-34493341.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    height: 35vh;
    border-radius: 20px 20px 0px 0px;
}

h1{
    text-align: center;
    margin: 10px;
}

p{
    text-align: left;
    margin: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixa{
    background-color: #5f2c82;

    width: 100%;
    height: 45px;
    margin-top: 5px;

    display: flex;
    border-radius: 5px;
}

.caixa label{
    background-color: #5f2c82;

    width: 20%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.material-symbols-outlined{
    color: white;
    font-size: 40px !important;
    
}

.caixa input{
    background-color: #6ce9e5;

    width: 80%;
    margin: 5px;
    padding: 10px;

    border: 0px;
    border-radius: 5px;
}

.caixa input:focus{
    background-color: white;
}

#entrar{
    background-color: #6ce9e5;;
    display: block;

    width: 100%;
    padding: 10px;

    border: 1px solid black;
    border-radius: 5px;
}

#entrar:hover{
    background-color: #af68df7b;
}

#esqc{
    color: black;
    text-decoration: none;

    width: auto;
    padding: 10px;
    margin-top: 10px;
    text-align: center;

    border: 1px solid black;
    border-radius: 5px;

    display: block;
}

#esqc:hover{
    background-color:lightgray;
}

@media screen and (orientation: landscape) and (max-width: 900px) {

  #login{
        display: flex;
    }

  #imagem{
        width: 50%;
        height: auto;

        border-radius:20px 0px 0px 20px ;
  }

  #formulario{
        width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  
#login{
        display: flex;
    }

  #imagem{
        width: 50%;
        height: auto;

        border-radius:20px 0px 0px 20px ;
  }

  #formulario{
        width: 50%;
  }

}

@media screen and (min-width: 1025px) {
  #login{
        display: flex;
        flex-direction: row-reverse;
    }

  #imagem{
        width: 50%;
        height: auto;

        border-radius:0px 20px 20px 0px ;
  }

  #formulario{
        width: 50%;
  }
}




