@charset "UTF-8";

/*
    Paleta de cores
    verde: #49a09d
    lilas: #5f2c82

*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    height: 100vh;

    display: flex;
}

#login{
    background-color: white;
    margin: auto;
    width: 70%;
    border-radius: 20px;

    justify-content: center;
}

#formulario{
 padding: 10px 20px 10px 20px;
}

#imagem{
    background-image: url(../imagens/pexels-caiospil-34493341.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    height: 35vh;
    border-radius: 20px 20px 0px 0px;
}

h1{
    text-align: center;
    margin: 10px;
}

p{
    text-align: left;
    margin: 10px;
}

.caixa{
    background-color: #5f2c82;
    margin-top: 10px;
    padding: 3px;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 40px;

    display: flex;
}

#isenha, #iemail{
    background-color: #49a09d;
    padding: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    width: 225px;
    border-radius: 5px;
    border: 0px;
}

#icon{
    color: azure;
    font-size: 2.4em; 
    justify-content: center;
}
